* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.container {
    width: 1100px;
    max-width: 90%;
    margin: auto;
}

/* Buttons */
.btn-primary {
    background: #FD6E0A;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover {
    background: #aca7c7;
}

.btn-outline {
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
    padding: 10px 20px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

/* Header */
.header {
    background: #FFF8F3;
    padding-bottom: 05px;
}
#viewCvID{
    text-decoration: none;
    color: orange;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    border-color: aqua;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
#cvId {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
#cvId:hover {
    text-decoration: none;
    color: royalblue;
}
.logo {
    font-size: 28px;
    font-weight: bold;
}



.logo span {
    color: #FD6E0A;
}

.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.hero {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-text h1 {
    font-size: 48px;
    margin: 10px 0;
}

.hero-text p {
    margin: 20px 0;
}

.hero-buttons button {
    margin-right: 15px;
}

.hero-img img {
    width: 320px;
}

/* About */
.about {
    padding: 80px 0;
}

.about-box {
    background: #FFF8F3;
    padding: 50px;
    text-align: center;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: 20px;
}

/* Skills */
.skills {
    padding: 80px 0;
    text-align: center;
}

.section-desc {
    margin: 20px auto 40px;
    max-width: 600px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.skill-card {
    padding: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    border-radius: 5px;
}

/* Resume */
.resume {
    padding: 80px 0;
}

.resume-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.resume-item {
    margin-bottom: 25px;
}

.resume-item span {
    color: #777;
    font-size: 14px;
}

.center {
    text-align: center;
    margin-top: 40px;
}

/* Contact */
.contact {
    background: #FFF8F3;
    padding: 80px 0;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form textarea {
    height: 120px;
}
